a{
	text-decoration: none;
	color: #000000;
}
b{
	color: #E810E4;
}

body{
	background-color: #000000;

}
#header{
	width: auto; 
	height: 150px;
	background-image: url('images/background1.jpg'); 
	box-shadow: 10px 10px 5px #141414;
}
h1{
	padding-top: 20px;
	font-family: 'Lobster', cursive;
	color: #FFFFFF;
	font-size: 45px;
}
h2{
	font-family: 'Lobster Two', cursive;
	color: #FFFFFF;

}
h4{	
	color: #FFFFFF;
	font-family: 'Poiret One', cursive;
	padding: 0px 20px 15px 70px;	
	font-size: 20px;
}

.bottomCover{
	background-image: url('images/background.jpg'); 
	padding-top: 20px;
}
#colorWidgetDiv{
	position: relative;
	height: 330px;
	width: 450px;
	border: 1px solid white;
	background-color: #000000;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-left: 10px;
	box-shadow: 10px 10px 5px #141414;
}
#colorDiv{
	text-align:center;
	font-size:12pt;
	width:107px;
	height:57px;
	cursor:pointer;
}

.ColorButton{ /* Add to List*/
	position:absolute;
	font-size:9pt;
	color: #000000;
	font-weight: bold;
	width:70px;
	height:40px;
	float:left;
	top:-1px;
	left:349px;
	margin-top:10px;
	background-color:#FFFFFF;
}
.ColorButtonClear{ /*eraser*/
	position:absolute;
	margin-left:1px;
	margin-top:20px;
	cursor:pointer;
	width: 30px;
	height: 30px;
}
.ColorBox{ /* 8 boxes*/
	margin-top:20px;
	margin-left: -5px;
	width:30px;
	height:30px;
	border:1px solid #000000;
	background:#d8d8d8;
	margin-right:5px;
	float:left;
	cursor:pointer;
}

.ColorBoxContainer{
	z-index:1000000;
	position:absolute;
	left:15px;
	top:270px;
	float:left;
}

.colorSliderPaletteBorder{
	width:256px;
	height:256px;
	margin-right:5px;
	position:relative;
	right:91px;
}
.colorSliderHue{
	width:40px;
	position:absolute;
	top:10px;
	left:280px;
}
.colorSliderHueBarBorder{   /*HueBAR Border*/
	border:1px solid #FFFFFF;
	width:18px;
	height:256px;
	position:absolute;
	left:15px;
	z-index:10;
}
.colorSliderHueBar{          /*HueBAR*/
	background-image:url('images/hueBar.png');
	height:256px;
	width:18px;
}
.colorSliderHandle{
	width:38px;
	height:9px;
	background-image:url('images/arrows.png');
	background-repeat:no-repeat;
	position:absolute;
	z-index:15;
	left:7.5px;
	top:-2px;
	cursor:default;
}

.colorSliderPalette{      /*GradientBOX*/
	width:256px;
	height:256px;
	background-image:url('images/gradientbox.png'); 
}

.colorSliderColorPreview{   /*Preview mini side box*/
	margin-left:105px;
	width:75px;
	height:50px;
	border:1px solid #FFFFFF;
 }

.colorSliderFormTable input{
	width:16%;
	font-size:16px;
	margin-left:20px;
	padding-left: 5px;

}
#ads{
    margin: auto;
    width: 60%;
    padding: 40px;
}

#footer, p{
	color: #CCCCCC;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 20px;
	width:100%;
	position:static;
	bottom:0px;
	left:0;
}

@media screen and (max-width: 650px) {

h1{
	font-size: 42px;
}
h4{
	font-size: 18px;
	padding: 0px 20px 15px 20px;	


}
#ads{
	margin-left: -05px;
}
}
@media screen and (max-width: 430px){
	
h1{
	font-size: 33px;
}
h2{
	font-size: 20px;
}

}

